<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div class="eight columns offset-by-two columns" style="margin-top: 10%">
          {{ content }}

          {% if page.layout == 'post' %}
            <p style="text-align: center"><a href="/essays/">&larr; Back to essays</a></p>
          {% elsif page.title %}
            <p style="text-align: center"><a href="/">&larr; Back to home</a></p>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>

</html>
