<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div class="two columns" style="margin-top: 15%">
          {% if page.title == nil %}
            <img class="grav" src="http://www.gravatar.com/avatar/b4ad1fa069936c9b1b931dccd23867fa?s=160"/>
          {% endif %}
        </div>
        <div class="eight columns" style="margin-top: 10%">
          {{ content }}

          {% if page.layout == 'post' %}
            <p style="text-align: center"><a href="/essays/">&larr; Back to essays</a></p>
          {% elsif page.title %}
            <p style="text-align: center"><a href="/">&larr; Back to home</a></p>
          {% else %}
          {% endif %}
        </div>
        <div class="two columns">
          <!-- The void if it is ever needed -->
        </div>
      </div>
    </div>
  </body>

</html>
